name: CI
on:
  push:
jobs:
  build:
    # https://markkarpov.com/post/github-actions-for-haskell-ci.html#complete-example
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cabal: ["3.10"]
        ghc: ["8.8.4", "8.10.5", "9.4.5"]
    env:
      CONFIG: "--enable-tests --enable-benchmarks"
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: haskell/actions/setup@v2.4.0
        # https://github.com/haskell/actions
        id: setup-haskell-cabal
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - run: cabal v2-update $CONFIG
      - run: cabal v2-freeze $CONFIG
      - uses: actions/cache@v2
        with:
          path: |
            ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-
      - run: cabal v2-build $CONFIG
      - run: cabal v2-test $CONFIG
      - run: cabal v2-haddock $CONFIG
      - run: cabal v2-sdist
